.heading {
    font-family: $quicksand;
    color: $color-white;
    font-weight: normal;

    &--1 {
        font-family: $rocksalt;
        line-height: 1.6em;
        font-size: 2.8em;
        margin-top: 0;
        color: $color-hopbush;
    }

    &--2 {
        font-size: 1.2em;
    }

    &--pink {
        color: $color-hopbush;
    }

    &--bold {
        font-weight: 500;
    }
}