.hero {
    margin-top: 45px;

    svg {
        max-width: 100%;
        max-height: 300px;
    }

    svg path {
        stroke-width: 12;
        stroke-dasharray: 4944;
        stroke-dashoffset: 4944;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;

        &#white-r {
            fill-opacity: 0;            
            animation-name: drawLine, fillIn;
            animation-duration: 2s, 1s;
            animation-delay: 0s, 1s;
        }

        &#pink-r {
            fill-opacity: 0;            
            animation-name: drawLine, fillIn;
            animation-duration: 2s, 1s;
            animation-delay: .9s, 1.7s;
        }
    }

    &__heading {
        margin-bottom: 0;
        font-size: 2.5em;
    }

    &__subheading {
        margin-top: 2px;
        color: $color-silver;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 2.2s;
        animation-fill-mode: backwards;
    }

    &__wobble {
        display: inline-block;
        opacity: 0;
        transform: rotateZ(-14deg);
        transition: all .3s ease-in-out;

        &--visible {
            opacity: 1;
            transform: rotateZ(0deg);
        }

        &:hover {
            color: $color-hopbush;
            animation-name: rubberBand;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    }
}

@keyframes drawLine {
    to { 
        stroke-dashOffset: 0; 
    }
}
  
@keyframes fillIn {
    from { 
        fill-opacity: 0; 
    }
    to { 
        fill-opacity: 1; 
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
} 