.hero {
    margin-top: 45px;

    svg {
        max-width: 100%;
        max-height: 300px;
    }

    svg path {
        stroke-width: 12;
        stroke-dasharray: 4944;
        stroke-dashoffset: 4944;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;

        &#white-r {
            
            fill-opacity: 0;            
            animation-name: drawLine, fillIn;
            animation-duration: 2s, 1s;
            animation-delay: 0s, 1s;
        }

        &#pink-r {
            fill-opacity: 0;            
            animation-name: drawLine, fillIn;
            animation-duration: 2s, 1s;
            animation-delay: .9s, 1.7s;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__subheading {
        margin-top: 10px;
    }
}

@keyframes drawLine {
    to { 
        stroke-dashOffset: 0; 
    }
}
  
@keyframes fillIn {
    from { 
        fill-opacity: 0; 
    }
    to { 
        fill-opacity: 1; 
    }
}