.timeline {
    color: $color-white;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 17px;
        width: 6px;
        background: $color-hopbush;
        z-index: -1;
    }

    &__description {
        padding: 20px 0;
    }

    &__content {
        padding-top: 6px;
        width: calc(100% - 70px);
        animation-fill-mode: forwards;
      
        &--hidden {
            visibility: hidden;
        }
        
        &--visible {
            visibility: visible;
			animation: timeline-bounce .75s;
        }
    }

    &__circle,
    &__content {
        display: inline-block;
        vertical-align: top;
    }

    &__circle {
        width: 40px;
        height: 40px;
        background: $color-hopbush;
        border-radius: 50%;
        font-size: 1.5em;
        position: relative;
        margin-right: 20px;
        animation-fill-mode: forwards;

        &--hidden {
            visibility: hidden;
        }

        &--visible {
            visibility: visible;
			animation: timeline-circle .75s;
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__sub-heading {
        margin-top: 5px;
    }
}

@keyframes timeline-bounce 
{
    0% 
    {
        opacity: 0;
        transform: translateX(100px);
    }

    60% 
    {
        opacity: 1;
        transform: translateX(-10px);
    }

    100% 
    {
        transform: translateX(0);
    }
}

@keyframes timeline-circle 
{
	0% 
	{
    	opacity: 0;
    	transform: scale(0.5);
  	}

  	60% 
  	{
    	opacity: 1;
    	transform: scale(1.1);
  	}

  	100% 
  	{
    	transform: scale(1);
  	}
}