<!doctype html>
<html>
    <head>
        <title>
            {{#if title}}
                {{title}}
            {{else}}
                Base Page Title
            {{/if}}
        </title>

        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">

        {{#> head-block}}{{/head-block}}
  </head>

  <body class="loader">
        {{#> _navigation-block}} {{/_navigation-block}}

        <main class="loader__content content">
            <div class="spring">
                {{#> _content-block}} {{/_content-block}}
            </div>

            <div class="loader__cover"></div>
        </main>


        {{#> _footer-block}} 
            {{> includes/_footer }}
        {{/_footer-block}}

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkyXUGrJB2JovN_nBsAv0AdB62gU2LEVk&callback=initMap"
  type="text/javascript"></script>
        <script src="/scripts/main.js"></script>
        <script src="/scripts/modernizr.js"></script>
  </body>
</html>