{{#> layouts/base title='Rebecca Reed - About' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='about' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <div class="grid">
            <div class="grid__item grid__item--2/3 grid__item--sm-1/1">
                <h1 class="heading heading--1 letters">
                    <span class="letters__wobble">A</span><span class="letters__wobble">b</span><span class="letters__wobble">o</span><span class="letters__wobble">u</span><span class="letters__wobble">t</span>
                </h1>

                <ul class="timeline">
                    <li class="timeline__description timeline__description--university">
                        <p>University of Bristol</p>
                        <p>MEng Computer Science 2:1</p>
                        <p>Lorem ipseum...</p>
                    </li>
                </ul>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--sm-1/1"></div>
        </div>
        
    {{/inline}}

{{/layouts/base}}