{{#> layouts/base title='Rebecca Reed - Contact' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='contact' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <h1 class="heading heading--1 letters">
            <span class="letters__wobble">C</span><span class="letters__wobble">o</span><span class="letters__wobble">n</span><span class="letters__wobble">t</span><span class="letters__wobble">a</span><span class="letters__wobble">c</span><span class="letters__wobble">t</span>
        </h1>

        <div class="content__block grid">
            <div class="grid__item grid__item--2/3 grid__item--sm-1/1">
                <form method="POST" action="#" class="contact grid grid--gutter">
                    <div class="grid__item grid__item--gutter grid__item--1/2">
                        <label class="contact__label">
                            <span class="contact__label-text heading heading--3">Name</span>
                            <input type="text" class="contact__input" />
                            <span class="contact__focus"></span>
                        </label>
                    </div>

                    <div class="grid__item grid__item--gutter grid__item--1/2">
                        <label class="contact__label">
                            <span class="contact__label-text heading heading--3">Email</span>
                            <input type="email" class="contact__input" />
                            <span class="contact__focus"></span>
                        </label>
                    </div>

                    <div class="grid__item grid__item--gutter grid__item--1/1">
                        <label class="contact__label">
                            <span class="contact__label-text heading heading--3">Subject</span>
                            <input type="text" class="contact__input" />
                            <span class="contact__focus"></span>
                        </label>
                    </div>

                    <div class="grid__item grid__item--gutter grid__item--1/1">
                        <label class="contact__label">
                            <span class="contact__label-text heading heading--3">Message</span>
                            <textarea class="contact__input contact__input--textarea"></textarea>
                            <span class="contact__focus"></span>
                        </label>
                    </div>

                    <div class="grid__item grid__item--gutter grid__item--1/1 align align--right">
                        <button type="submit" class="contact__submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--sm-1/1">
                <div class="map"></div>
            </div>
        </div>
        
    {{/inline}}

{{/layouts/base}}