{{#> layouts/base title='Rebecca Reed - Contact' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='contact' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <div class="grid">
            <div class="grid__item grid__item--2/3 grid__item--sm-1/1">
                <h1 class="heading heading--1">
                    <span class="content__wobble">C</span><span class="content__wobble">o</span><span class="content__wobble">n</span><span class="content__wobble">t</span><span class="content__wobble">a</span><span class="content__wobble">c</span><span class="content__wobble">t</span>
                </h1>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--sm-1/1"></div>
        </div>
        
    {{/inline}}

{{/layouts/base}}