{{#> layouts/base title='Rebecca Reed - Skills' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='skills' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <h1 class="heading heading--1 letters">
            <span class="letters__wobble">S</span><span class="letters__wobble">k</span><span class="letters__wobble">i</span><span class="letters__wobble">l</span><span class="letters__wobble">l</span><span class="letters__wobble">s</span>
        </h1>

        <div class="content__block grid">
            <div class="grid__item grid__item--2/3 grid__item--md-1/1">
                <div class="skills">
                    <h2 class="heading heading--2">Front End</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--html">
                            <i class="fab fa-html5 skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--css">
                            <i class="fab fa-css3-alt skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--sass">
                            <i class="fab fa-sass skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--js">
                            <i class="fab fa-js skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--angular">
                            <i class="fab fa-angular skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--react">
                            <i class="fab fa-react skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--laravel">
                            <i class="fab fa-laravel skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--wordpress">
                            <i class="fab fa-wordpress skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--bootstrap">
                            <svg aria-hidden="true" class="icon icon--hover skills__icon">
                                <use xlink:href="/sprite/svg/sprite.symbol.svg#bootstrap"></use>
                            </svg>
                        </li>
                    </ul>
                </div>

                <div class="skills">
                    <h2 class="heading heading--2">Back End</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--node">
                            <i class="fab fa-node skills__icon"></i>
                        </li>
                    </ul>
                </div>

                <div class="skills">
                    <h2 class="heading heading--2">Testing</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--gulp">
                            <i class="fab fa-gulp skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--grunt">
                            <i class="fab fa-grunt skills__icon"></i>
                        </li>
                    </ul>
                </div>

                <div class="skills">
                    <h2 class="heading heading--2">Tools</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--gulp">
                            <i class="fab fa-gulp skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--grunt">
                            <i class="fab fa-grunt skills__icon"></i>
                        </li>
                    </ul>
                </div>

                <div class="skills">
                    <h2 class="heading heading--2">Methodologies</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--github">
                            Scrum
                        </li>

                        <li class="skills__item skills__item--bitbucket">
                            Kanban
                        </li>

                        <li class="skills__item skills__item--gitlab">
                            TDD
                        </li>

                        <li class="skills__item skills__item--gitlab">
                            XP
                        </li>
                    </ul>
                </div>

                <div class="skills">
                    <h2 class="heading heading--2">Version Control</h2>
                    <ul class="skills__list">
                        <li class="skills__item skills__item--github">
                            <i class="fab fa-github skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--bitbucket">
                            <i class="fab fa-bitbucket skills__icon"></i>
                        </li>

                        <li class="skills__item skills__item--gitlab">
                            <i class="fab fa-gitlab skills__icon"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--sm-1/1"></div>
        </div>
        
    {{/inline}}

{{/layouts/base}}