{{#> layouts/base title='Rebecca Reed - Work' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='work' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <h1 class="heading heading--1 letters">
            <span class="letters__wobble">W</span><span class="letters__wobble">o</span><span class="letters__wobble">r</span><span class="letters__wobble">k</span>
        </h1>

        <div class="content__block grid">
            <div class="grid__item grid__item--2/3 grid__item--md-1/1">
                <ul class="work grid grid--gutter">
                    <li class="grid__item grid__item--gutter grid__item--1/3">
                        <a href="https://codepen.io/rereed92/pen/zEJeWo" target="_blank" class="work__item">
                            <img src="/images/mickey-mouse.png" alt="Mickey Mouse" class="work__image" />
                            <span class="work__link">View</span>
                            <div class="work__banner">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none" class="work__blurb">
                                    <path d="M180, 160C180, 160, 0, 218, 0, 218C0, 218, 0, 0, 0, 0C0, 0, 180, 0, 180, 0C180, 0, 180, 160, 180, 160"></path>
                                </svg>
                                <div class="work__text">
                                    <h2 class="heading heading--2">Mickey Mouse</h2>
                                    <p class="work__description">HTML and CSS</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="grid__item grid__item--gutter grid__item--1/3">
                        <a href="http://www.simonmuris.com/" target="_blank" class="work__item">
                            <img src="/images/simon-muris.jpg" alt="Simon Muris Website" class="work__image" />
                            <span class="work__link">View</span>
                            <div class="work__banner">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none" class="work__blurb">
                                    <path d="M180, 160C180, 160, 0, 218, 0, 218C0, 218, 0, 0, 0, 0C0, 0, 180, 0, 180, 0C180, 0, 180, 160, 180, 160"></path>
                                </svg>
                                <div class="work__text">
                                    <h2 class="heading heading--2">Simon Muris</h2>
                                    <p class="work__description">HTML and CSS</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="grid__item grid__item--gutter grid__item--1/3">
                        <a href="#" target="_blank" class="work__item">
                            <img src="/images/changibles.png" alt="Changibles" class="work__image" />
                            <span class="work__link">View</span>
                            <div class="work__banner">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none" class="work__blurb">
                                    <path d="M180, 160C180, 160, 0, 218, 0, 218C0, 218, 0, 0, 0, 0C0, 0, 180, 0, 180, 0C180, 0, 180, 160, 180, 160"></path>
                                </svg>
                                <div class="work__text">
                                    <h2 class="heading heading--2">Changibles</h2>
                                    <p class="work__description">HTML and CSS</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--md-1/1"></div>
        </div>
        
    {{/inline}}

{{/layouts/base}}