{{#> layouts/base title='Rebecca Reed - Work' }}

    {{#*inline '_navigation-block'}}
        {{> includes/_navigation active='work' }}
    {{/inline}}

    {{#*inline '_content-block'}} 
        <div class="grid">
            <div class="grid__item grid__item--2/3 grid__item--sm-1/1">
                <h1 class="heading heading--1">Work</h1>
            </div>
            <div class="grid__item grid__item--1/3 grid__item--sm-1/1"></div>
        </div>
        
    {{/inline}}

{{/layouts/base}}