<nav class="nav">
    <div class="spring">
        <ul class="nav__items">
            <li class="nav__item"><a class="nav__link {{#eq active 'home'}} nav__link--active {{/eq}}" href="/">Home</a></li>
            <li class="nav__item"><a class="nav__link {{#eq active 'about'}} nav__link--active {{/eq}}" href="/about">About</a></li>
            <li class="nav__item"><a class="nav__link {{#eq active 'skills'}} nav__link--active {{/eq}}" href="/skills">Skills</a></li>
            <li class="nav__item"><a class="nav__link {{#eq active 'portfolio'}} nav__link--active {{/eq}}" href="/portfolio">Portfolio</a></li>
            <li class="nav__item"><a class="nav__link {{#eq active 'contact'}} nav__link--active {{/eq}}" href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>