.spring {
    margin: 0 auto;
    max-width: $spring-max-width;
    min-width: $spring-min-width;
    padding: 0 30px;
    height: 100%;
}

@media only screen and (max-width: $breakpoint-tablet) {
    .spring {
        padding: 0 50px;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    .spring {
        padding: 0 20px;
    }
}