$color-black: #000000;
$color-hopbush: #D3649F;
$color-mine-shaft: #333333;
$color-white: #FFFFFF;
$color-dove-grey: #666666;
$color-silver: #BBBBBB;



// Logos
$color-ripe-lemon: #F7DF1E;
$color-cinnabar: #E34F26;
$color-cyan: #00D8FF;
$color-well-read: #B52E31;
$color-royal-blue: #2E6AED;
$color-carnation: #F55247;
$color-mantis: #6CC24A;
$color-sun: #FBA919;
$color-mandy: #E94C4F;
$color-orange: #FC6D26;
$color-blumine: #205081;
$color-cerulean: #00AADC;
$color-victoria: #5E4188;