body {
    background-color: $color-mine-shaft;
    font-size: 1em;
    min-height: 100vh;
    min-width: 320px;
}

@media only screen and (max-width: $breakpoint-tablet) {
    body {
        font-size: 0.9em;
    }
}